# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional: dotenv environment variables file
.env

# Optional: nyc test coverage
coverage

# Optional: log files
*.log
