.app {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.app-header {
  background-color: #333;
  padding: 40px 0;
}

.main-title {
  margin: 0;
  font-size: 3rem;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section {
  background-color: #1c1c1c;
  padding: 20px;
  width: 80%;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.about-section h2 {
  margin-top: 0;
  color: #aaa;
}

.about-section p {
  color: #ddd;
}

.image-section {
  margin: 20px;
}

.profile-image {
  width: auto; /* or '100%' for full width */
  height: 300px; /* Adjust as needed */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
